.h1
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 16pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: "Times New Roman",Times,Georgia,serif;
    TEXT-DECORATION: none
}
.h2
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 18pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.h3
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #000080;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.h4
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 12pt;
    COLOR: #800000;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.h5n
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: "Times New Roman",Times,Georgia,serif;
    TEXT-DECORATION: none
}
.h5b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 9pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: "Times New Roman",Times,Georgia,serif;
    TEXT-DECORATION: none
}
.h6n
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    LINE-HEIGHT: 12pt;
    FONT-STYLE: normal;
    FONT-FAMILY: "Times New Roman",Times,Georgia,serif;
    TEXT-DECORATION: none
}
.h6b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    LINE-HEIGHT: 16pt;
    FONT-STYLE: normal;
    FONT-FAMILY: "Times New Roman",Times,Georgia,serif;
    TEXT-DECORATION: none
}
.t1n
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t1b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t1c
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #0000ff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t1y
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #ffff00;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t1w
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t1i
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2n
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2g
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #666666;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2b
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2c
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2i
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #000000;
    LINE-HEIGHT: normal;
    FONT-STYLE: italic;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2y
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ffff00;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2w
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.t2r
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 8pt;
    COLOR: #ff0000;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.sln
{
    FONT-SIZE: 8pt;
    COLOR: #000000;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.slgs
{
    FONT-SIZE: 8pt;
    COLOR: #cccccc;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.slr
{
    FONT-SIZE: 8pt;
    COLOR: #0000ff;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.slr2
{
    FONT-SIZE: 8pt;
    COLOR: #660066;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.slb
{
    FONT-SIZE: 8pt;
    COLOR: #336666;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.slg1
{
    FONT-SIZE: 8pt;
    COLOR: #990000;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.slg2
{
    FONT-SIZE: 8pt;
    COLOR: #009900;
    FONT-FAMILY: sans-serif, Helvetica, Arial
}
.ma
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffff00;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
.mn
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: #ffffff;
    LINE-HEIGHT: normal;
    FONT-STYLE: normal;
    FONT-FAMILY: sans-serif, Helvetica, Arial;
    TEXT-DECORATION: none
}
